// SASS Helpers
// Various mixins to help ease your development process
// Just plug in and enjoy. @import '_helpers';


// CSS Box Shadow - @include box-shadow("inset 0px 2px 4px #000");
@mixin box-shadow($input) {
	-webkit-box-shadow: $input;
	-moz-box-shadow: $input;
	-ms-box-shadow: $input;
	-o-box-shadow: $input;
	box-shadow: $input;
}

// CSS Transitions - @include transition("something 2s ease-in-out");
@mixin transition ($input){
	-webkit-transition: $input;
	-moz-transition: $input;
	-o-transition: $input;
	transition: $input;
}

// Border Radius - @include border-radius(5px);
@mixin border-radius($input) {
	-webkit-border-radius: $input;
	-moz-border-radius: $input;
	-ms-border-radius: $input;
	-o-border-radius: $input;
	border-radius: $input;
}

// Inline-block - cross-browser friendly - @include inline-block;
@mixin inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

// Columns
@mixin column($cols, $gutter, $containerWidth, $itemName: '.item', $lastName: '.last') {
	// Usage:
	// Apply this mixin to the element containing the grid items.
	// Specify the number of columns you're going to have, the spacing
	// between each column and the container's width.

	#{$itemName} {
		float: left;
		width: ($containerWidth - (($cols - 1) * $gutter))/$cols;
		margin-right: $gutter;

		&#{$last} {
			margin-right: 0;
		}  
	}
}

// Basic content formatting - @include content-formatting($fontFamily);
@mixin content-formatting($fontFamily) {
	&, p, ul, ol, li, blockquote { font: 13px/1.5em $fontFamily; }

	ul, ol {
		padding: 0.5em 0 0.5em 2em;
		margin-left: 1em;

		& + p:first-of-type { padding-top: 0.5em; }

		li {
			padding: 0;
			color: #444;
			line-height: 2em;
		}
	}

	p {
		padding: 0.25em 0 0.5em;

		&:first-of-type { padding-top: 0; }
		&:last-of-type {
			padding-bottom: 0;

			& + ul, & + ol { padding-top: 1em; }
		}
	}

	blockquote {
		background: #F3F3F3;
		padding: 0.5em;
		margin: 0.5em 0;
		border: 1px solid #DDD;
	}

	strong, b { font-weight: bold; }
	em, i { font-style: italic; }
	code { font-family: 'Inconsolata', monospace; }
}